<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
  <arg name="my_namespace"  default="target" />


  <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/backpack_2d.urdf" />

  <node ns="$(arg my_namespace)" name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node ns="$(arg my_namespace)" name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename backpack_2d_localization.lua
          -load_state_filename /home/hmcl/carto_ws/install_isolated/share/cartographer_ros/configuration_files/map.pbstream"                               
      output="log">
    <remap from="echoes" to="scan" />
    <!-- <remap from="/imu" to="/imu/cf/data" /> -->
    <remap from="imu" to="imu/data" />
  </node>
  <!-- <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename backpack_2d_localization.lua"
      output="screen">
    <remap from="echoes" to="scan" />
  </node> -->

  <!-- <node name="pose_to_odom" pkg="pose_to_odom" type="poes_to_odom" > -->
    <!-- <remap from="/pf/pose/odom" to="/carto/odom"/> -->
  <!-- </node> -->

  <node ns="$(arg my_namespace)" name="carto_init_pose" pkg="pose_to_odom" type="carto_init_pose" output="log"/>

  <!-- <node name="scan_filter" pkg="pose_to_odom" type="scan_filter" /> -->

  <!-- <node name="carto_velocity" pkg="pose_to_odom" type="carto_velocity" /> -->
  
  <!-- <node name="track_velocity" pkg="pose_to_odom" type="track_velocity" />  -->


  <node ns="$(arg my_namespace)" name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" output="log"/>
</launch>
